body {
    font-family: "Trebuchet MS"
}

#title {
    background-color: darkslateblue;
    padding-top: 3;
    padding-bottom: 10;
    padding-left: 30
}

#content {
    background-color: #eee
}

h1 {
    color:yellow;
}
div {
    
}
