/*
    BASIC
*/

b {
    color: white;
    font-weight: bold;
}

p {
    margin: 15;
}

p a, p a:visited {
    color: #4f90d0;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

blockquote {
    margin: 10;
}

.code-cell {
    display: inline-block;
    background-color: black;
    border: 2px solid #244;
    padding: 5 30;
    font-family: monospace;
    font-size: 15;
    line-height: 140%;
    text-align: left;
    margin: 0 30;
}

.code-cell code::before {
    content: "> ";
    color: #889
}

body {
    font-family: trebuchet ms;
    color: #ddE0e2;
    background-color: #002255;
    text-align: center;
}

/* This is are little classes that provides an
indent which, unlike margin, can shrink */

.indent-small {
    position: relative;
    max-width: min(250px, 100%);
    text-align: center;
}

.indent-medium {
    position: relative;
    max-width: min(400px, 100%);
    text-align: center;
}

/*
    NAVIGATION BAR
*/

nav {
    color: white;
    background-color: #6f7c91;
    border-radius: 20px;
    overflow: auto;
    padding: 0 50 0 50;
    display: inline-block;
    margin: 40 20 20 20;
}

nav a {
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 10 20 10 20;
    margin: 0 10 0 10;
    border-bottom: solid 3px;
}

nav a:hover {
    background-color: #b5bbc7;
}

/* Give each nav element its own colour */

#home {
    border-bottom-color: #ff4a60;
}

#features {
    border-bottom-color: #dd55ff;
}

#docs {
    border-bottom-color: #5599ff;
}

#showcase {
    border-bottom-color: #ffe680;
}

#about {
    border-bottom-color: #22f521;
}

/*
    HOME PAGE
*/

#intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20
}

#intro-text {
    max-width: max(300px, 30%);
    text-align:start;
    margin: 20 
}

.quote {
    color: lightblue;
    display: inline-block;
    max-width: max(200px, 20%);
    margin: 20;
    position: relative;
    text-align: end;
}

/* I learnt this before/after bit from
https://codepen.io/jimmycow/pen/LmjVaz */

blockquote::before {
    position: absolute;
    top: 0;
    left: -15;
    content: "“";
    font-size: 50;
    color: deepskyblue;
}

blockquote::after {
    position: absolute;
    bottom: 0;
    right: -18;
    content: "”";
    font-size: 50;
    color: deepskyblue;
}

#quotes figcaption {
    color: darkgrey
}


/*
    DOCUMENTATION
*/

#start {
    text-align: left;
    margin: 20;
    padding: 10;
    color: #eeee;
    background-color: #00000044;
    border-radius: 24;
    display: inline-block;
    overflow: auto;
}

#start h1 {
    color: #5599ff;
    font-size: 40;
    padding: 10;
}

#start h2 {
    color: #ffe680;
    font-size: 20;
}

#start table {
    display: inline-block;
    border: 2px solid #5555ff;
    margin: 10;
}

th, td {
    border: 2px solid #5599ff
}

th {
    color: #ffe680;
    padding: 20;
}

td {
    padding: 10;
    text-align: center;
}

tr:last-child {
    color:#ff4a60;
}




