/*
    BASIC
*/

b {
    color: white;
    font-weight: bold;
}

p {
    margin: 15;
}

p a, p a:visited {
    color: #4f90d0;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

blockquote {
    margin: 10;
}

body {
    font-family: trebuchet ms;
    color: #dee0e3;
    background-color: #002255;
    text-align: center;
    background-image: url(images/bg.svg);
    background-repeat: no-repeat;
}

.main-container {
    margin: 20;
    padding: 10;
    background-color: #00000044;
    border-radius: 25px;
    text-align: center;
    overflow: auto;
}

.title {
    font-size: 40;
    padding: 10;  
    color: #ffe680;
    margin-bottom: 30;
}

.subtitle {
    font-size: 20;
}

/* This is are little classes that provides an
indent which, unlike margin, can shrink */

.indent-small {
    position: relative;
    max-width: min(250px, 100%);
    text-align: center;
}

.indent-medium {
    position: relative;
    max-width: min(400px, 100%);
    text-align: center;
}

/*
    NAVIGATION BAR
*/

nav {
    color: white;
    background-color: #6f7c91;
    border-radius: 20px;
    overflow: auto;
    padding: 0 50 0 50;
    display: inline-block;
    margin: 40 20 20 20;
}

nav a {
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 10 20 10 20;
    margin: 0 10 0 10;
    border-bottom: solid 3px;
}

nav a:hover {
    background-color: #b5bbc7;
}

/* Give each nav element its own colour */

#nav-home {
    border-bottom-color: #ff4a60;
}

#nav-features {
    border-bottom-color: #dd55ff;
}

#nav-docs {
    border-bottom-color: #5599ff;
}

#nav-showcase {
    border-bottom-color: #ffe680;
}

#nav-news {
    border-bottom-color: #22f521;
}

/*
    HOME PAGE
*/

#intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20;
}

#intro-text {
    max-width: max(300px, 30%);
    text-align:start;
    margin: 30;
    padding: 10;
    background-color: #00000044;
    border-radius: 25px;
}

.quote {
    color: lightgrey;
    display: inline-block;
    max-width: max(200px, 20%);
    margin: 20;
    position: relative;
    text-align: end;
}

/* I learnt this before/after bit from
https://codepen.io/jimmycow/pen/LmjVaz */

.quote blockquote::before {
    position: absolute;
    top: 0;
    left: -15;
    content: "“";
    font-size: 50;
    color: #5599ff;
}

.quote blockquote::after {
    position: absolute;
    bottom: 0;
    right: -18;
    content: "”";
    font-size: 50;
    color: #5599ff;
}

.quote figcaption {
    color: darkgrey
}

/*
    FEATURES
*/

.feature-container {
    display: inline-grid;
    grid-template-columns: 
        [images] 320px 
        [text] 1fr;
    grid-template-rows: 
        [engine] 1fr 
        [editor] 1fr 
        [networking] 1fr;
    grid-auto-flow: row;
    align-items: center;
    
}

.feature-container img {
    justify-self: right;
    width: 300px;
    margin: 30 0;
}

.feature-text {
    margin: 40;
    justify-self: left;
    text-align: left;
}

.feature-text h2 {
    color: #ffe680;
    font-size: 25;
    margin: 5;
}

.feature-text ul {
    list-style: disc;
}

.feature-text li {
    margin: 10;
}

/*
    DOCUMENTATION
*/

#getting-started .subtitle {
    color: #5599ff;
    margin-bottom: 30;
}

#getting-started article {
    text-align: left;
}

.code-cell {
    display: inline-block;
    background-color: black;
    border: 2px solid #244;
    padding: 5 30;
    font-family: monospace;
    font-size: 15;
    line-height: 140%;
    text-align: left;
    margin: 0 30;
}

.code-cell code::before {
    content: "> ";
    color: #889
}

.version-table {
    display: inline-block;
    border: 2px solid #5555ff;
    margin: 10;
}

.version-table th, td {
    border: 2px solid #5599ff
}

.version-table th {
    color: #ffe680;
    padding: 20;
}

.version-table td {
    padding: 10;
    text-align: center;
}

.version-table tr:last-child {
    color:#ff4a60;
}

/*
    SHOWCASE
*/

.image-gallery img {
    width: 300;
    border-radius: 20px 20px 0 0 
}

.image-gallery a {
    color: white;
    /* The line below is important - else the whitespace in the html
    around the figure, which is treated as a space, would be underlined,
    which then makes little marks like underscores show up in the gallery */
    text-decoration: none;
}

.image-gallery figure {
    background-color: black;
    margin: 10;
    display: inline-block;
    padding: 5;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.image-gallery figcaption {
    padding: 5;
}

/*
I was originally going to use a flex layout
to help with image layout, but it turns out
the natural ordering of the inline-blocks suits
my purposes just fine, including w.r.t. reactivity.

.image-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
*/

/*
    NEWS
*/

.news-container {
    display: inline-grid;
    grid-template-columns: 130px 2fr;
    grid-auto-columns: auto;
    grid-auto-flow: row;
    align-items: top;
}

.news-meta {
    margin: 40 0;
    background-color: #6e7c90;
    border-radius: 20px 0 0 20px;
}


.news-meta img {
    max-width: 30;
    padding: 20;
    margin: 10;
    background-color: #446698;
    border-radius: 20px;
}

.news-author {
    
}

.news-date {
    font-size: 14;
    color: #6e7c90
}

.news-content {
    text-align: left;
    margin: 40 0;
    background-color: #6e7caa66;
    border-radius: 0 20px 20px 0;
    
}

.news-content h2 {
    font-size: 30;
    margin: 20;
    color: #ffe680
}

.news-content video {
    max-width: 80%;
    margin: 10 20;
}